In [1]:
# scrapping real and fake news data from politifact.com

In [22]:
#import the libraries
from bs4 import BeautifulSoup
import pandas as pd
import requests
import urllib.request
import time

In [23]:
#list to store the scrapped data
authors=[]
dates=[]
facts=[]
source=[]
targets=[]

In [24]:
#create a function to scrape the website
def scrape_website(page_number):
    page_num=str(page_number)
    URL='https://www.politifact.com/factchecks/list/?ruling=true'
    webpage=requests.get(URL)
    soup=BeautifulSoup(webpage.text,'html.parser')
    #Get the location of datas
    statement_footer=soup.find_all('footer',attrs={'class':'m-statement__footer'})#Location of the author
    statement_quote=soup.find_all('div',attrs={'class':'m-statement__quote'})# location of the fact
    statement_meta=soup.find_all('div',attrs={'class':'m-statement__meta'})# location of source
    statement_meter=soup.find_all('div',attrs={'class':'m-statement__meter'})# location of target
    #Loop the statement__footer
    for i in statement_footer:
        link1=i.text.strip()
        name_and_date=link1.split()
        first_name=name_and_date[1]
        last_name=name_and_date[2]
        full_name=first_name+''+last_name
        month=name_and_date[4]
        day=name_and_date[5]
        year=name_and_date[6]
        date=month+''+year
        dates.append(date)
        authors.append(full_name)
        #Loop the statement_quote
        for i in statement_quote:
            link2=i.find_all('a')
            fact_text=link2[0].text.strip()
            facts.append(fact_text)
        #Loop the statement__meta
        for i in statement_meta:
            link3=i.find_all('a')
            source_text=link3[0].text.strip()
            source.append(source_text)
        #Loop the target
        for i in targets:
            link4=i.find('div',attrs={'class':'c-image'}).find('img').get('alt')
            
            targets.append(link4)

In [25]:
print(targets)

[]

In [26]:
print(source)

[]

In [48]:
#Loop the "n-1" webpages to scrap the data

n=140
for i in range(1,n):
    scrape_website(i)

In [49]:
#Create the data frame
data=pd.DataFrame(columns=['author','fact','source','date','target'])
data['author']=authors
data['fact']=pd.Series(facts)
data['source']=pd.Series(source)
data['date']=pd.Series(dates)
data['target']=pd.Series(targets)

<ipython-input-49-9dca358b5720>:7: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  data['target']=pd.Series(targets)

In [50]:
data_true=data.fillna('True')

In [51]:
#display data
data_true

,author,fact,source,date,target
0,MadelineHeim,“It’s been over 50 years since minimum (wage) ...,Mandela Barnes,June2021,True
1,LauraSchulte,“We have a record 9.3 million job openings in ...,Glenn Grothman,June2021,True
2,D.L.Davis,"“Before the pandemic, just over 40,000 were on...",Mark Born,June2021,True
3,JohnPullano,It’s not currently “legal for a New York state...,Lorraine Lewandrowski,June2021,True
4,MadelineHeim,"“Since 1978, CEO compensation rose over 1,000%...",Mandela Barnes,June2021,True
...,...,...,...,...,...
9205,BrandonMulder,“Pipelines do not freeze. They are naturally i...,Energy Transfer,March2021,True
9206,HaleyBeMiller,“The National Academy of Medicine points to a ...,Chris Kapenga,March2021,True
9207,VictoriaKnight,“Becerra supports Bernie’s government takeover...,Tom Cotton,March2021,True
9208,JessicaCalefati,“We’re the only major gas-producing state in t...,Tom Wolf,February2021,True
9209,MiriamValverde,“There is a direct connection between discrimi...,Cory Booker,February2021,True

In [55]:
data_true.to_csv(r"C:\Users\Vikram\Desktop\business analytics\final project\data_true1.csv",index=False)