In [1]:
import pandas as pd

In [4]:
df1=pd.read_csv(r"C:\Users\Vikram\Desktop\business analytics\final project\data_true1.csv")
df1.head()

,author,fact,source,date,target
0,MadelineHeim,“It’s been over 50 years since minimum (wage) ...,Mandela Barnes,June2021,True
1,LauraSchulte,“We have a record 9.3 million job openings in ...,Glenn Grothman,June2021,True
2,D.L.Davis,"“Before the pandemic, just over 40,000 were on...",Mark Born,June2021,True
3,JohnPullano,It’s not currently “legal for a New York state...,Lorraine Lewandrowski,June2021,True
4,MadelineHeim,"“Since 1978, CEO compensation rose over 1,000%...",Mandela Barnes,June2021,True

In [5]:
df2=pd.read_csv(r"C:\Users\Vikram\Desktop\business analytics\final project\data_false1.csv")
df2.head()

,author,fact,source,date,target
0,TomKertscher,"“Arizona and Georgia now have the proof,” Joe ...",Viral image,July2021,False
1,MoniqueCuret,"“45,000 confirmed dead from the COVID-19 shots...",Instagram posts,July2021,False
2,KelseyTamakloe,“Americans not vaccinated before 2022 will be ...,Instagram posts,July2021,False
3,TomKertscher,"""Biden concedes 6 million votes.""",Facebook posts,July2021,False
4,KelseyTamakloe,Olympic Village has cardboard beds “to prevent...,Tweets,July2021,False

In [7]:
Fakenews=pd.concat([df1,df2])

In [11]:
Fakenews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18210 entries, 0 to 8999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   author  18210 non-null  object
 1   fact    18210 non-null  object
 2   source  18210 non-null  object
 3   date    18210 non-null  object
 4   target  18210 non-null  bool
dtypes: bool(1), object(4)
memory usage: 729.1+ KB

In [12]:
Fakenews.to_csv(r"C:\Users\Vikram\Desktop\business analytics\final project\fake_news.csv",index=False)